<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<style type="text/css">
			img{
				height: 200px;
				width: 200px;
			}
			.main{
				width: 1200px;
				margin: 0 auto;
			}
	</style>
</head>
<body>
<div class="main">
	<header>
		<img src="/img/logo.png" alt="Meadowlark Travel Logo">
	</header>
 	{{{body}}}
</div>
	
</body>
</html>